<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva categorias</h1>

    <form action="/categoria/{{#if id}}edit/{{id}}{{/if}}" method="post">
        <input type="text" name="nombre" id="nombre" placeholder="nombre" value="{{this.nombre}}">
        <input type="file" name="foto" id="foto" placeholder="foto" value="{{this.foto}}">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>