<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Nueva categoria</h4>

    <form action="/categoria/{{#if id}}edit/{{id}}{{/if}}" method="post">
        <input type="text" name="nombre" id="nombre" placeholder="nombre" value="{{this.nombre}}">
        <input type="text" name="foto" id="foto" placeholder="foto" value="{{this.foto}}">
        <button class="waves-effect waves-light btn" type="submit">Enviar</button>
    </form>
</body>
</html>