<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h4>Categoria</h4>
    <a class="waves-effect waves-light btn"href="/categoria/formnuevo">nuevo</a>
    <table>
        <tr>
            <th>nombre</th>
            <th>foto</th>
            <th>
                <div class="container">
                    acciones
                </div>
            </th>
        </tr>
        {{#each items}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.foto}}</td>
            <td>
                <div class="row">
                    <div class="col s6">
                        <a href="/categoria/editform/{{this.id}}">🧨</a> 
                    </div>
                    <div class="col s6">
                        <a onclick="return confirm('esta seguro de borrar')" href="/categoria/delete/{{this.id}}">😢</a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>