<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cliente/" method="Post">
        <label>CI</label>
        <input type="number" name="ci" value={{this.ci}}>
        <label>Nombre</label>
        <input type="text" name="nombre" value={{this.nombre}}>
        <label>Apellido</label>
        <input type="text" name="apellidos" value={{this.apellidos}}>
        <label>Celular</label>
        <input type="number" name="cel" value={{this.cel}}>

        <input type="reset" value="Limpiar">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>